* {
    box-sizing: border-box;
  }
  html{
    margin: 0;
    padding:0;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* box-sizing: border-box; */
    color: white;
    background-color: #282828;
    min-height: 100vh;
  }
  
  
  
  
  header {
    /* border: 2px red solid; */
    display: flex;
    
    width:100%;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    background-color: #282828;
  }
  
  
  
  nav {
    display: flex;
   
    padding: 2em;
    width: 40%;
    justify-content: space-evenly;
  }
  
  nav a {
    display: block;
    padding: 0.6em;
    font-size: 1.3rem;
    text-decoration: none;
    color: #00B899;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
  }
  
  nav a:hover {
    color: #008f77;
    border-radius: 25px;
    background-color: #33ffdd;
    transition: 0.3s all;
  
  
  }
  
  
  
  
  table{
    
    margin: 0 auto 2em auto;
   width:80%;
    border-collapse: collapse;
  }
  
  table th,table td{
    padding:10px 15px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
  }
  table thead tr{
    background-color: #00B899;
    color:white;
    font-weight: bold !important;
    text-align: center;
    font-family: sans-serif;
  }
  table tbody tr:nth-of-type(even){
    background-color: #3f3f3f;
   
  }
  
  
  
  
  footer {
    width:100%;
    background-color: #3e3e3e;
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
  }
  
  footer p:last-child {
  
    padding-left: 2rem;
  
    margin: 0;
    /* border: 2px greenyellow solid; */
  }
  
  footer p:first-child {
    /* border: 2px greenyellow solid; */
    margin: 0;
    padding-right: 2rem;
    border-right: 2px solid white;
    color: #c9c9c9;
    /* height:10vh; */
  }
  
  i {
  
    padding: 0em 0 0em 0.25em;
  }
  
  .icon {
    display: inline-block;
    width: 31.5px;
    height: 30px;
  }
  
  
  
  
  @media (max-width:768px) {
       
  
    #logo {
        padding-top: 1em;
    }
  
    header,
    nav,
    main,
    .card-container,
    footer {
        width: 100%;
        flex-direction: column;
    }
  
    header {
        justify-content: space-between;
        height: auto;
    }
  
    nav {
        align-items: center;
    }
  
    nav a {
        text-align: center;
    }
  
    .card-container {
        height: auto;
        justify-content: space-evenly;
    }
  
    main {
        height: 120vh;
    }
  
  /* .scroller{
    display: flex;
    flex-direction: column;
    overflow-x:scroll;
  } */
  
   table{
   width:100%;
    display: flex;
    
    flex-direction: column;
    overflow-x:scroll;
    font-size: 1rem;
   
    
   }
 
   table td,table th{
    min-width:8em;;
   }

  
 

   footer {

    align-items: center;
    justify-content: space-around;
    padding: 1em;
}
  
    footer p {
        text-align: center;
  
  
  
    }
  
    footer p:first-child {
        border-right: none;
        padding: 0.5em;
    }
  
    footer p:last-child {
        margin-top: 1em;
        padding: 0.5em;
    }
  }
